@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: "Martian Mono";
}
body{
}

.y-1{
  width: 100px;

  height: 100px;
  border: 3px solid black;
  position: relative;
  float: left;
  border-radius: 100%;
}


.y-2{
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;

  left: 70px;
  bottom: 35px;
  border-radius: 100%;
}

.x-1{
  width: 100px;
  height: 100px;
  border: 3px solid black;

  position: relative;
  float: left;
  border-radius: 100%;
}

.x-2{
  width: 30px;
  height: 30px;

  background: #000;
  position: absolute;
  left: 70px;
  bottom: 35px;
  border-radius: 100%;
}

.container{
  position: relative;
  left: 0px;
}